In [3]:
# Q1. Create one variable containing following type of data:
# (i) string
s = "sharjeel"
# (ii) list
list = [95,9.5,"string",5+3j,True]
# (iii) float
f= 2.4
# (iv) tuple
tuple = (1, 2, 'three', 4.5)

In [4]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘ 
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

# first is string 
# second is also a string because it surrounded with qoute
# third is list 
# fourth is float because of dot

In [5]:

# Q3. Explain the use of the following operators using an example:
# (i) / its a division operator which is used to divide the value like 20 divde to 4 answer is 5 we use "/" operator to this tasks.
division = 20/4

# (ii) % this operator is called modulos operator which is used to returns the remainder when the first operand is divided by the second operand.
modulus = 10%3

# (iii) // this operator is called floor operator which is work like divisio but not return quotient without decimal value.
floor_divison = 8//3

# (iv) ** exponential operator is raised the power of first operand to the power of the second operand.
exponential = 6 ** 2
print(exponential)

36

In [6]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

list = [5, 'PwSkills', 3.14, True, [1, 2, 3], 'Python', (10, 20), {'Name': 'Sharjeel'}, None, 9.99]

for i in list:
    print(i, type(i))

5 <class 'int'>
PwSkills <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
Python <class 'str'>
(10, 20) <class 'tuple'>
{'Name': 'Sharjeel'} <class 'dict'>
None <class 'NoneType'>
9.99 <class 'float'>

In [8]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))

count = 0
while a % b == 0:
    count += 1
    a //= b

if count > 0:
    print("{a} is divisible by {b} {count} times.")
else:
    print("{a} is not divisible by {b}.")

Enter number A:  51
Enter number B:  4

{a} is not divisible by {b}.

In [9]:

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

list2 = [1, 5, 7, 9, 12, 15, 18, 20, 21, 25, 27, 30, 33, 35, 39, 42, 45, 48, 50, 51, 55, 57, 60, 63, 65]

for num in list2:
    if num % 3 == 0:
        print("{num} is divisible by 3.")
    else:
        print("{num} is not divisible by 3.")

{num} is not divisible by 3.
{num} is not divisible by 3.
{num} is not divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is not divisible by 3.
{num} is divisible by 3.
{num} is not divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is not divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is not divisible by 3.
{num} is divisible by 3.
{num} is not divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is divisible by 3.
{num} is not divisible by 3.

In [10]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

# List is mutable object where we can assign new value or replace with old 
# eg:
list3 = [1,5,3,4,5]
list3[1]= 2
print(list3)

# string is immutable object we cant change the value of stringe 
# eg:
string = "Hello"
print(string)  # Output: Hello

string[0] = "J"  # This will give an error as strings are immutable

[1, 2, 3, 4, 5]
Hello

TypeError: 'str' object does not support item assignment